.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
}

button{
  background-color: #4f6fff; 
  border: none;
  color: white;
  padding: 10px 32px;
  border-radius: 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  max-width: 9rem;
  cursor: pointer;
  margin-bottom: 20px;
}

  
table {
  width: 100%;
  border-collapse: collapse;
}

table thead {
  background: #030b30;
  color: white;
  text-align: left;
  font-size: 1.3rem;
}

table td {
  padding: 1rem 2rem;
}

table tbody {
  text-align: left;
}

table tbody tr:hover {
  background: #4f6fff;
  cursor: pointer;
}

a{
  color:white;
}

footer{
  position:absolute;
  bottom:0;
  color:white;
  left:30px;
  padding-bottom:1.2rem;
}